<div *ngIf="showLayout" [ngClass]="layoutClass">
  <div class="app-layout">
    <div *ngIf="showNavAndSidebar">
      <app-navbar></app-navbar>
    </div>

    <div class="app-content">
      <div *ngIf="showNavAndSidebar" class="sidebar-wrapper">
        <app-sidebar></app-sidebar>
      </div>

      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-footer *ngIf="showFooter"></app-footer>
</div>

<!-- Minimal layout for login/register -->
<div *ngIf="!showLayout" class="auth-wrapper">
  <router-outlet></router-outlet>
</div>
