<div class="container-fluid">
    <div class="home-container no-select" [class.expanded]="isSidebarExpanded">
        <div class="head-container">
            <h5 class="head mb-0">Uploaded Songs</h5>

            <div class="head-buttons">

                <!-- Upload Songs Button -->
                <div>
                    <button class="btn btn-primary" (click)="uploadInput.click()">Upload Songs</button>
                    <input type="file" #uploadInput accept="audio/*" multiple (change)="uploadSongs($event)" hidden />
                </div>

                <!-- View Toggle Button -->
                <div class="view-toggle-switch">
                    <input type="checkbox" id="viewToggle" class="view-toggle-input" [checked]="isGridView"
                        (change)="toggleView()" />

                    <label for="viewToggle" class="view-toggle-label">
                        <!-- Static icons on each side -->
                        <img src="assets/icons/white-list.png" alt="Grid View" class="toggle-icon grid-icon" />
                        <img src="assets/icons/white-cards.png" alt="List View" class="toggle-icon list-icon" />

                        <!-- Sliding transparent circle -->
                        <div class="view-toggle-circle"></div>
                    </label>
                </div>
            </div>

        </div>

        <!-- Conditional Grid or List View -->
        <div [ngClass]="{ 'song-grid': isGridView, 'song-list': !isGridView }">
            <mat-card class="song-card" *ngFor="let song of backendSongs; let i = index" (click)="playBackendSong(i)">

                <img mat-card-image [src]="song.image || '../assets/Mask Group.png'" alt="cover" class="album-img">

                <mat-card-content>
                    <mat-card-title>{{ song.title }}</mat-card-title>
                    <mat-card-subtitle>{{ song.artist }}</mat-card-subtitle>
                </mat-card-content>
                <div class="icon-overlay" (click)="$event.stopPropagation()">
                    <button mat-icon-button (click)="downloadSong(song.id)">
                        <img [src]="'assets/icons/insta-downloaded.png'" alt="like icon" class="icon">
                    </button>

                    <button mat-icon-button (click)="toggleLike(song.id)">
                        <img [src]="'assets/icons/' + (song.isLiked ? 'insta-heart-solid.png' : 'insta-heart-border.png')"
                            alt="like icon" class="icon">
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</div>