.faq-header {
  padding: 3rem 0;
  margin-bottom: 2rem;
  border-radius: 0 0 10px 10px;
  text-align: center;
  color: white;

  h1 {
    font-weight: 700;
    font-size: 2.5rem;
  }

  p {
    font-size: 1.25rem;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

.faq-section {
  margin-bottom: 3rem;

  h2 {
    color: #ffffffee;
    border-bottom: 2px solid var(--harmonique-teal);
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;

    i {
      margin-right: 0.5rem;
    }
  }
}

.faq-item {
  background-color: #ffffff1a;
  color: #ffffffbb;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: var(--box-shadow);
  border-top: 3px solid var(--harmonique-teal);

  h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
  }

  p {
    margin-bottom: 0;
    color: var(--text-color);
  }
}

.note-box {
  background-color: #ffffffbb;
  padding: 1.5rem;
  border-radius: 1rem;
  margin: 2rem 0;
  border-left: 4px solid var(--harmonique-purple);
  box-shadow: var(--box-shadow);

  strong {
    color: var(--harmonique-purple);
  }
}

footer {
  color: white;
  padding: 3rem 0;
  margin-top: 3rem;

  h5 {
    font-weight: 600;
    margin-bottom: 1rem;
  }

  p,
  li,
  a {
    color: white;
    text-decoration: none;
  }

  .social-links a {
    margin-right: 1rem;
    color: white;

    &:hover {
      opacity: 0.8;
    }
  }

  .text-center {
    p {
      margin: 0;
    }
  }
}