<div class="login-wrapper">
  <div class="title-container text-center">
    <span class="title">Harmonique</span>
  </div>
  <div class="music-notes">
    <span class="music-note" style="left: 10%; animation-delay: 0s;">♬</span>
    <span class="music-note" style="left: 30%; animation-delay: 1s;">♪</span>
    <span class="music-note" style="left: 70%; animation-delay: 3s;">♩</span>
    <span class="music-note" style="left: 90%; animation-delay: 4s;">♬</span>
    <span class="music-note" style="left: 20%; animation-delay: 5s;">♪</span>
  </div>

  <div class="login-container">
    <div class="text-center mb-3">
      <h4>Music Login</h4>
      <div class="music-bars mt-3">
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 position-relative">
        <i class="fa-regular fa-envelope position-absolute top-50 start-0 translate-middle-y"
          style="margin-left: 20px; color: white;"></i>
        <input type="email" class="form-control ps-5 white-placeholder" placeholder="Email" formControlName="email" />
      </div>
      <small class="text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
        Please enter a valid email.
      </small>


      <div class="mb-3 position-relative">
        <i class="position-absolute top-50 start-0 translate-middle-y" [ngClass]="lockIconClass"
          style="margin-left: 20px; color: white;"></i>

        <input [type]="showPassword ? 'text' : 'password'" class="form-control ps-5 pe-5" placeholder="Password"
          formControlName="password" />

        <!-- Eye Icon -->
        <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="showPassword = !showPassword"
          style="position: absolute; top: 50%; right: 15px; transform: translateY(-50%); cursor: pointer; color: white;">
        </i>
      </div>

      <small class="text-danger" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        Password must be at least 6 characters.
      </small>

      <!-- Error message display -->
      <div *ngIf="errorMessage" class="alert alert-danger mb-3">
        {{ errorMessage }}
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-white gradien-btn text-center w-100"
          [disabled]="loginForm.invalid || isLoading">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
          {{ isLoading ? 'Logging in...' : 'Start Jamming' }}
        </button>
      </div>
    </form>

    <p class="text-white mt-3 text-center">
      New to the band? <a routerLink="/register" class="text-purple">Join now</a>
    </p>
  </div>
</div>