<div class="sidebar-container">
  <div class="sidebar">
    <nav class="nav-menu">
      <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/home"><i class="bi bi-house-door nav-icon"></i> <span class="nav-text">Home</span></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/liked-songs">
            <i class="bi bi-heart nav-icon"></i>
            <span class="nav-text">Liked Songs</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/about-us">
            <i class="bi bi-chat-dots nav-icon"></i>
            <span class="nav-text">About Us</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/faq">
            <i class="bi bi-question-circle nav-icon"></i>
            <span class="nav-text">FAQs</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/profile">
            <i class="bi bi-person nav-icon"></i>
            <span class="nav-text">Profile</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/settings">
            <i class="bi bi-gear nav-icon"></i>
            <span class="nav-text">Settings</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>