.container-fluid {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding: 16px 20px;
  color: white;
  overscroll-behavior: none;
}

.mat-mdc-card {
  background-color: rgba(0, 0, 0, 0.253);
}

p {
  padding: 20px;
  font-size: 18px;
  text-align: center;
}