.search-container {
  padding: 1rem;

  .head-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .mat-mdc-card {
    background-color: #00000041;
  }
}